<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Botinki.BY</title>
    <link rel = 'stylesheet' href = '/static/style.css'>
</head>
<body>

<h1 class="title">Магазин обуви по всей Беларуси</h1>
<img src="https://uploads.turbologo.com/uploads/design/preview_image/5269199/preview_image20210629-14837-ajeq2b.png" width = 20%>
<h2 class = "nad"> <a href = "/kategorii/">Категории</a>  </h2>

<hr>
<br>
<br>
<br>
<br>

<h1 class = 't'>Туфли мужские</h1>
<img src="https://keyman.by/image/catalog/blog_foto/12-07-17/obuv-21.jpg" width="500">
<h1 class = 'pr'>200 BYN</h1>
<h1>Размер: 44</h1>
<h1>Материал: Натуральная кожа</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>
<br>

<h1 class="t">Кросы NB</h1>
<img src="https://photo.i-run.com/new-balance-fuelcell-w-890-v8-b-destockage-432057-1-sz.jpg" width = "500">
<h1 class = 'pr'>245 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Мокасины</h1>
<img src="https://www.ecco-shoes.by/images/eshop/img/jpg/bigw/540504_51052.jpg?v=1" width = "500">
<h1 class = 'pr'>180 BYN</h1>
<h1>Размер: 40</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Сабо</h1>
<img src="https://flamberg.by/assets/images/products/1423/3509.jpg" width = "500">
<h1 class = 'pr'>160 BYN</h1>
<h1>Размер: 42</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Туфли</h1>
<img src="https://images.shafastatic.net/513292906" width = "500">
<h1 class = 'pr'>300 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Кроксы</h1>
<img src="https://all-stars.by/upload/resize_cache/iblock/3c7/7q6nablsyotzfw9zlw554ej8v5tnvagn/457_457_1/10001-0DA_b.jpg" width = "500">
<h1 class = 'pr'>165 BYN</h1>
<h1>Размер: 40-42</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Резиновые ботинки</h1>
<img src="https://kpdi.by/image/catalog/obuv/sirius/sapogi-muzh-pvh.jpg" width = "500">
<h1 class = 'pr'>120 BYN</h1>
<h1>Размер: 42</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Ботинки</h1>
<img src="https://www.ecco-shoes.by/images/eshop/img/jpg/bigw/214724_01001.jpg" width = "500">
<h1 class = 'pr'>400 BYN</h1>
<h1>Размер: 44</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Шлепки</h1>
<img src="https://img-sneaksupincommerce.mncdn.com/Content/Images/Thumbs/0149663_adidas-adilette-22-hq4670-001.jpeg" width = "500">
<h1 class = 'pr'>90 BYN</h1>
<h1>Размер: 41-43</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>
</body>
</html>