<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Женские туфли</title>
    <link rel = 'stylesheet' href = '/static/style.css'>

</head>
<body>
<h4 class = 'ugol'> <a href="/">Главная</a>  <a href="/kategorii/">Категории</a> </h4>

<h1 class="t">Туфли</h1>
<img src="https://img.freepik.com/premium-photo/black-women-s-shoes-isolated-white-background-3d-rendering-illustration_97167-288.jpg" width = "500">
<h1 class = 'pr'>245 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Туфли</h1>
<img src="https://img.freepik.com/premium-photo/female-red-shoes-white-surface_160204-550.jpg" width = "500">
<h1 class = 'pr'>245 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Туфли</h1>
<img src="https://img.freepik.com/premium-photo/fashionable-women-shoes-isolated-white-background-stylish-women_293990-772.jpg" width = "500">
<h1 class = 'pr'>245 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Туфли</h1>
<img src="https://s.pfst.net/2013.04/27310218186a2bee989457aad7aecf726d2c632e5d5_b.jpg" width = "500">
<h1 class = 'pr'>245 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href ="/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Туфли</h1>
<img src="https://ae04.alicdn.com/kf/HTB164DUOFXXXXaIXpXXq6xXFXXXK.jpg_640x640.jpg" width = "500">
<h1 class = 'pr'>245 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>
</body>
</html>