<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Категории товаров</title>
    <link rel = 'stylesheet' href = '/static/style.css'>

</head>
<body>
<h4 class = 'ugol'> <a href="/">Главная</a> </h4>

<h1>Все категории обуви</h1>

    <ul>
        <li><h2> <a href="/krosovki/">Кросы</a> </h2>  </li>
        <br>
        <li><h2> <a href="/jentuf/">Женские туфли</a> </h2></li>
        <br>
        <li> <h2> <a href="/mujtuf/">Мужские туфли</a> </h2> </li>
        <br>
        <li> <h2> <a href="/mokas/">Мокасины</a> </h2> </li>
        <br>
        <li> <h2> <a href="/shlepki/">Шлепки</a> </h2> </li>
        <br>
        <li> <h2> <a href="/sabo/">Сабо</a> </h2> </li>
    </ul>
</body>
</html>