<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кросовки</title>
    <link rel = 'stylesheet' href = '/static/style.css'>

</head>
<body>

<h4 class = 'ugol'> <a href="/">Главная</a>  <a href="/kategorii/">Категории</a> </h4>

<h1 class="t">Кросы NB</h1>
<img src="https://photo.i-run.com/new-balance-fuelcell-w-890-v8-b-destockage-432057-1-sz.jpg" width = "500">
<h1 class = 'pr'>245 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Кросы</h1>
<img src="https://i.pinimg.com/736x/0f/36/37/0f363786271ae9c3f321f55b84079eb8.jpg" width = "500">
<h1 class = 'pr'>245 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Кросы</h1>
<img src="https://s.pfst.net/2010.02/795042272df420e6b332b9a2d0684cfe5dffd6917_b.jpg" width = "500">
<h1 class = 'pr'>245 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Кросы</h1>
<img src="https://img.freepik.com/premium-photo/new-pair-white-sneakers-isolated-white_93675-133979.jpg" width = "500">
<h1 class = 'pr'>245 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Кросы</h1>
<img src="https://img.freepik.com/premium-photo/white-sneakers-white-background_511031-2199.jpg" width = "500">
<h1 class = 'pr'>245 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

</body>
</html>