<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мокасины</title>
    <link rel = 'stylesheet' href = '/static/style.css'>

</head>
<body>
<h4 class = 'ugol'> <a href="/">Главная</a>  <a href="/kategorii/">Категории</a> </h4>

<hr>

<h1 class="t">Мокасины</h1>
<img src="https://img.freepik.com/premium-photo/original-suede-men-s-loafers-isolated-white-background-fashionable-men-s-shoes-view-from-top_94064-10431.jpg" width = "500">
<h1 class = 'pr'>245 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Мокасины</h1>
<img src="https://media.istockphoto.com/id/1481397330/ru/%D1%84%D0%BE%D1%82%D0%BE/%D0%BC%D1%83%D0%B6%D1%81%D0%BA%D0%B8%D0%B5-%D0%BA%D0%BE%D0%B6%D0%B0%D0%BD%D1%8B%D0%B5-%D0%BC%D0%BE%D0%BA%D0%B0%D1%81%D0%B8%D0%BD%D1%8B-%D0%BD%D0%B0-%D0%B1%D0%B5%D0%BB%D0%BE%D0%BC-%D1%84%D0%BE%D0%BD%D0%B5.jpg?s=612x612&w=0&k=20&c=o7OlIO00Sf3E-v969NLxaWp-8zmCYj9qT0o6I5PIywY=" width = "500">
<h1 class = 'pr'>245 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Мокасины</h1>
<img src="https://s.pfst.net/2011.12/9520252465492927ed0905934f48af54a4301769c1_b.jpg" width = "500">
<h1 class = 'pr'>245 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Мокасины</h1>
<img src="https://as1.ftcdn.net/v2/jpg/01/08/32/84/1000_F_108328404_sbQqoXyKNvw7beIyVkAxeUSRSo0Ok5BS.jpg" width = "500">
<h1 class = 'pr'>245 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Мокасины</h1>
<img src="https://www.leomoda.ua/assets/images/sh_shoescolour/1649/1200/800/fitx/1/1649.jpg" width = "500">
<h1 class = 'pr'>245 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

</body>
</html>