<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мужские туфли</title>
    <link rel = 'stylesheet' href = '/static/style.css'>
</head>
<body>
<h4 class = 'ugol'> <a href="/">Главная</a>  <a href="/kategorii/">Категории</a> </h4>

<hr>

<h1 class="t">Туфли мужские</h1>
<img src="https://img.freepik.com/premium-photo/black-men-s-shoes-white-background_236836-14973.jpg" width = "500">
<h1 class = 'pr'>245 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Туфли мужские</h1>
<img src="https://s.pfst.net/2010.08/233385175800540974c31633f1fc3703240ac3a60d_b.jpg" width = "500">
<h1 class = 'pr'>245 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Туфли мужские</h1>
<img src="https://tapok.com.ua/products/0/10/56/01/105601/558994_catalog_long.webp" width = "500">
<h1 class = 'pr'>245 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Туфли мужские</h1>
<img src="https://fineshoes.ru/upload/medialibrary/e43/cherno_belye_oksfordy.jpg" width = "500">
<h1 class = 'pr'>245 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Туфли мужские</h1>
<img src="https://st2.depositphotos.com/2026267/5312/i/450/depositphotos_53122087-stock-photo-mens-leather-shoes-isolated-on.jpg" width = "500">
<h1 class = 'pr'>245 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href ="/kupit/">Купить</a> </h1>
</body>
</html>