<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Резиновые шлепки</title>
    <link rel = 'stylesheet' href = '/static/style.css'>

</head>
<body>
<h4 class = 'ugol'> <a href="/">Главная</a>  <a href="/kategorii/">Категории</a> </h4>

<hr>

<h1 class="t">Шлепки</h1>
<img src="https://img.freepik.com/premium-photo/women-s-purple-rubber-flipflops-isolated-white-background_94064-11830.jpg" width = "500">
<h1 class = 'pr'>75 BYN</h1>
<h1>Размер: 42-44</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Шлепки</h1>
<img src="https://s.pfst.net/2011.09/805993880639c236c431019006bddecf08137a78f01_b.jpg" width = "500">
<h1 class = 'pr'>60 BYN</h1>
<h1>Размер: 41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Шлепки</h1>
<img src="https://img.freepik.com/premium-photo/house-slippers-isolated-white-background_461160-7802.jpg" width = "500">
<h1 class = 'pr'>115 BYN</h1>
<h1>Размер: 39-41</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Шлепки</h1>
<img src="https://basket-10.wbbasket.ru/vol1560/part156079/156079138/images/c516x688/1.webp" width = "500">
<h1 class = 'pr'>100 BYN</h1>
<h1>Размер: 40-42</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

<h1 class="t">Шепки</h1>
<img src="https://img.freepik.com/premium-photo/color-flip-flops-isolated-white_392895-16557.jpg" width = "500">
<h1 class = 'pr'>110 BYN</h1>
<h1>Размер: 41-43</h1>
<h1 class = 'za'> <a href = "/kupit/">Купить</a> </h1>

<hr>

</body>
</html>